* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url("./images/banner/banner1.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
}

.banner {
  display: flex;
  justify-content: center;
  text-align: right;
  align-items: center;
  margin-left: 250px;
}
.banner-items {
  padding: 250px;
  margin-left: 250px;
}
.banner-header {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  margin-bottom: 24px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #151414;
  margin-bottom: 24px;
  margin-left: 220px;
}
.btn-primary {
  background-color: orangered;
  color: aliceblue;
  border: 0;
  border-radius: 5px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  padding: 5px 25px;
}
main {
  margin-top: 130px;
}
.container {
  display: flex;
  gap: 87px;
  align-items: center;
  padding: 250px;
}
.container-picture {
  background: white;
}
.side-header {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 30px;
}
.side-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
